.map {
    &__wrap {
        margin-bottom: 40px;
    }
    &__coors {
        padding: 10px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        text-transform: none;
    }
}

.mapboxgl-canvas {
    border-radius: 15px;
    border-bottom-right-radius: 0;
}
