* {
    margin: 0;
    padding: 0;
}

.page-wrap {
    max-width: 1260px;
    margin: 0 auto;
    padding: 40px 90px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #fff;

    background-color: rgba(32, 109, 197, 0.7);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-blend-mode: multiply;
}

.visually-hidden {
    position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.popup {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);    
    
    padding: 15px;

    font-size: 24px;
    color: #fff;

    background-color: rgba(122, 219, 130, 0.7);
    border-radius: 5px;
}

@media(max-width: 1200px) {
    .page-wrap {
        margin: 0;
        padding: 40px;
    }

    .container {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media(max-width: 400px) {
    .page-wrap {
        padding: 40px 10px;
    }
    
    .popup {    
        font-size: 20px;
    }
}