.weather {
    max-width: 600px;

    &__place {
        font-size: 44px;
        line-height: 54px;
    }

    &__date {
        margin-bottom: 50px;

        font-size: 24px;
        line-height: 30px;
        text-transform: none;

        &--item {
            margin-right: 10px;
        }
    }

    &__current {
        font-size: 300px;
        line-height: 300px;
        font-weight: 700;

        &--wrap {
            position: relative;
            display: flex;

            outline: 1px dotted green;;
        }

        &--sign {
            font-size: 100px;
            line-height: 100px;
            font-weight: 700;
        }

        &--list {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            font-size: 22px;
            line-height: 24px;
        }
    }
}