.weather {
    position: relative;

    width: 600px;
    margin-bottom: 40px;

    &__place {
        font-size: 44px;
        line-height: 54px;
    }

    &__date {
        margin-top: 15px;
        margin-bottom: 50px;

        font-size: 24px;
        line-height: 30px;
        text-transform: none;

        &--item {
            margin-right: 10px;
        }
    }

    &__current {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 380px;

        font-size: 200px;
        line-height: 250px;
        font-weight: 700;

        &--wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        &--sign {
            font-size: 100px;
            line-height: 100px;
            font-weight: 700;
        }

        &--list {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 220px;
            margin-bottom: 30px;
            
            font-size: 20px;
            line-height: 22px;
        }
        &--item {
            margin-bottom: 5px;
        }
    }

    &__forecast {
        display: flex;
        
        text-align: center;

        &--day {
            margin-bottom: 15px;

            font-size: 18px;
            line-height: 24px;
        }

        &--temperature {
            font-size: 50px;
            line-height: 80px;
        }

        &--item {
            width: 300px;
        }
    }

    &__icon {
        &--big {
            position: absolute;
            top: 115px;
            right: 100px;

            font-size: 80px;
            opacity: 0.8;
        }
        &--small {
            margin-left: 10px;
            vertical-align: top;

            font-size: 50px;
            opacity: 0.8;
        }
    }
}

@media (max-width: 1200px) {
    .weather {
        &__place {
            font-size: 30px;
            line-height: 34px;
        }

        &__current {
            &--list {
                margin-bottom: 25px;
            }
        }

        &__icon {
            &--big {
                top: 80px;
                right: 160px;

                font-size: 60px;
            }
        }
    }
}

@media(max-width: 650px) {
    .weather {
        width: 100%;

        &__current {
            margin-bottom: 25px;

            font-size: 150px;
            line-height: 150px;

            &--wrap {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 10px 10px 0;

                background-color: rgba(114, 170, 235, 0.5);
                border-radius: 15px;
            }
        }

        &__forecast {
            display: block;
            padding: 15px 0;

            background-color: rgba(114, 170, 235, 0.5);
            border-radius: 15px;

            &--temperature {
                font-size: 80px;
            }

            &--day {
                font-size: 16px;
            }

            &--item {
                width: 100%;
                margin: 0 auto 25px;
                // margin-bottom: 25px;

                font-size: 24px;
            }
        }

        &__icon {
            &--big {
                right: 0;
            }
        }
    }
}