.weather {
    width: 700px;
    margin-bottom: 40px;

    outline: 1px solid white;
    &__place {
        font-size: 44px;
        line-height: 54px;
    }

    &__date {
        margin-bottom: 50px;

        font-size: 24px;
        line-height: 30px;
        text-transform: none;

        &--item {
            margin-right: 10px;
        }
    }

    &__current {
        display: flex;
        align-items: flex-start;
        margin-right: 5px;

        font-size: 220px;
        line-height: 250px;
        font-weight: 700;

        &--wrap {
            position: relative;
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;

            outline: 1px dotted green;;
        }

        &--sign {
            font-size: 100px;
            line-height: 100px;
            font-weight: 700;
        }

        &--list {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 220px;
            margin-bottom: 30px;
            
            font-size: 20px;
            line-height: 22px;
        }
        &--item {
            margin-bottom: 5px;
        }
    }

    &__forecast {
        display: flex;
        justify-content: space-between;
        
        text-align: center;

        &--day {
            font-size: 22px;
            line-height: 24px;
        }
        &--temperature {
            font-size: 80px;
            line-height: 80px;
        }
    }

    &__icon--big {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 1200px) {
    .weather {
        width: 100%;

        &__place {
            font-size: 30px;
            line-height: 34px;
        }

        &__current {

            &--sign {
                font-size: 50px;
                line-height: 50px;
            }
            &--list {
                margin-bottom: 25px;
            }
        }
    }
}

@media(max-width: 600px) {
    .weather {
        &__current {
            font-size: 150px;
            line-height: 150px;

            &--list {
                font-size: 16px;
                line-height: 18px;
            }
        }

        &__forecast {
            &--temperature {
                font-size: 80px;
            }

            &--day {
                font-size: 16px;
            }
        }
    }
}